<template>
    <div id="app">
        <button @click="show != show">Pokaz / Ukryj</button>
        <transition name="pokaz">
            <p v-if="show">Tekst ktory pojawia sie i znika</p>
        </transition>
    </div>
</template>

<script>
export default {
    data() {
        return {
            show: true
        }
    }
}
</script>

<style>
    .pokaz-enter-active {
        animation: pokazUkryj .5s;
    }
    .pokaz-leave-active {
        animation: pokazUkryj .5s reverse;
    }
    @keyframes pokazUkryj {
        0% {
            transform: scale(0);
        }
        50% {
            transform: scale(1.5);
        }
        100% {
            transform: scale(1);
        }
    }
</style>
