<template>
    <div id="app">
        <p class="czcionka" v-bind:style="obiektStyle">Prosty tekst akapitowy</p>
    </div>
</template>

<script>
export default {
    data() {
        return {
            obiektyStyle: {
                color: 'blue',
                backgroundColor: 'green',
                fontSize: '28px'
            }
        }
    }
}
</script>

<style>
    .czcionka {
        font-size: 24px;
    }
    .kolor {
        color: orange;
    }
    .tlo {
        background-color: red;
    }
</style>
