<template>
    <div id="app">
        <p class="czcionka" v-bind:class="[ { kolor: czyKolor }, klasaTlo ]">Prosty tekst akapitowy</p>
    </div>
</template>

<script>
export default {
    data() {
        return {
            czyKolor: true,
            klasaTlo: 'tlo'
        }
    }
}
</script>

<style>
    .czcionka {
        font-size: 24px;
    }
    .kolor {
        color: orange;
    }
    .tlo {
        background-color: red;
    }
</style>
