<template>
    <div id="app">
        <nowy></nowy>
    </div>
</template>

<script>

const domieszka = {
    created() {
        console.log('Czesc z domieszki');
    },
    methods: {
        czesc() {
            console.log('Czesc z metody zdefiniowanej w domieszce');
        }
    }
}

Vue.component('nowy', {
    template: '<p>Nowy komponent</p>',
    mixins: [domieszka],
    created() {
        this.czesc();
    },
    methods: {
        czesc() {
            console.log('Czesc z komponentu');
            this.czesc();
        }
    }
})

export default {
  data: function() {
      return {

      }
  }
}
</script>

<style>

</style>
