<template>
    <div id="app">
        <moj-paragraf></moj-paragraf>
    </div>
</template>

<script>

Vue.component('moj-paragraf', {
    template: '<p>Mój własny paragraf</p>'
})

export default {
  data: function() {
      return {

      }
  } 
}
</script>

<style>

</style>
