<template>
    <div id="app">
        <kolor-czcionki kolor="orange" czcionka=2></kolor-czcionki>
    </div>
</template>

<script>

Vue.component('kolor-czcionki', {
    template: '<p class="kolorowa-czcionka" :style="style">Nasz akapit</p>',
    props: ['kolor', 'czcionka'],
    computed: {
        style() {
            return { color: this.kolor, fontSize: this.czcionka + 'px' };
        }
    }
})

export default {
  data: function() {
      return {

      }
  } 
}
</script>

<style>

</style>
