<template>
    <div id="app">
        <wyswietl-czas :czas="czas"></wyswietl-czas>
    </div>
</template>

<script>

Vue.component('wyswietl-czas', {
    template: '<p>Na tej stronie znajdujesz się juz {{ czas }} sekund.</p>',
    props: {
        czas: {
            type: Number,
            required: true
        }
    }
})

export default {
  data: function() {
      return {
          czas: 0
      }
  },
  created() {
      setInterval(() => {
          this.czas++;
      }, 1000);
  } 
}
</script>

<style>

</style>
