<template>
    <div id="app">
        <parzyste-liczby></parzyste-liczby>
    </div>
</template>

<script>

Vue.component('parzyste-liczby', {
    template: '<p>{{ liczbyParzyste }} - liczby parzyste</p>',
    data() {
        return {
            liczby: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
        }
    },
    computed: {
        liczbyParzyste() {
            return this.liczby.filter((liczba) => liczba % 2 === 0);
        }
    }
})

export default {
  data: function() {
      return {

      }
  } 
}
</script>

<style>

</style>
