<template>
    <div id="app">
        <wlasny-przycisk></wlasny-przycisk>
    </div>
</template>

<script>

Vue.component('wlasny-przycisk', {
    template: '<button><slot><span>Domyślny tekst</span></slot></button>',
})

export default {
  data: function() {
      return {

      }
  }
}
</script>

<style>

</style>
