<template>
    <div id="app">
        <wyswietl-czas :czas.sync="sekundy"></wyswietl-czas>
    </div>
</template>

<script>

Vue.component('wyswietl-czas', {
    template: '<p>Na tej stronie znajdujesz się juz {{ czas }} sekund.</p>',
    props: {
        czas: {
            type: Number,
            required: true
        }
    },
    mounted() {
        setInterval(() => {
            this.$emit('update:czas', this.czas + 1);
        }, 1000);
    }
})

export default {
  data: function() {
      return {
          sekundy: 0
      }
  }
}
</script>

<style>

</style>
