<template>
    <div id="app">
        <podaj-imie v-model="imie" />
    </div>
</template>

<script>

Vue.component('podaj-imie', {
    template: '<input type="text" :value="value @input="obsluzPole" />',
    props: {
        value: {
            type: String,
            required: true
        }
    },
    methods: {
        obsluzPole(e) {
            const wartosc = e.target.value.toUpperCase();

            if (wartosc !== e.target.value) {
                e.target.value = wartosc;
            }

            this.$emit('input', wartosc);
        }
    }
})

export default {
  data: function() {
      return {
          imie: 'Marcin'
      }
  }
}
</script>

<style>

</style>
