<template>
    <div id="app">
        <kolor-czcionki kolor="orange" :czcionka="44"></kolor-czcionki>
    </div>
</template>

<script>

Vue.component('kolor-czcionki', {
    template: '<p class="kolorowa-czcionka" :style="style">Nasz akapit</p>',
    props: {
        kolor: {
            type: String,
            required: true
        },
        czcionka: {
            type: Number,
            default: 36,
            validator(value) {
                return value > 0;
            }
        }
    },
    computed: {
        style() {
            return { color: this.kolor, fontSize: this.czcionka + 'px' };
        }
    }
})

export default {
  data: function() {
      return {

      }
  } 
}
</script>

<style>

</style>
