<template>
    <div id="app">
        <zwieksz-licznik v-on:zwieksz="zwiekszWszystkie"></zwieksz-licznik>
        <zwieksz-licznik v-on:zwieksz="zwiekszWszystkie"></zwieksz-licznik>
    </div>
</template>

<script>

Vue.component('zwieksz-licznik', {
    template: '<button v-on:click="zwiekszLicznik">{{ licznik }}</button>',
    data() {
        return {
            licznik: 0
        }
    },
    methods: {
        zwiekszLicznik() {
            this.licznik++;
            this.$emit('zwieksz');
        }
    }
})

export default {
  data: function() {
      return {
          wszystkie: 0
      }
  },
  methods: {
      zwiekszWszystkie() {
          this.wszystkie++;
      }
  }
}
</script>

<style>

</style>
