<template>
    <div id="app">
        
    </div>
</template>

<script>
export default {
    render(createElement) {
        'button',
        {
            attrs: {
                type: 'submit'
            },
            props: {
                foo: 'bar'
            },
            domProps: {
                innerHTML: 'Jakiś tekst'
            },
            on: {
                click: this.naszaMetoda
            },
            slot: 'przykladowySlot',
            ref: 'przykladowyRef',
            class: ['jakasKlasa', { 'pogrubiony': true }],
            style: { backgroundColor: 'blue' }
        },
        this.$slots.default
    },
    data: {
        tag: 'p'
    }
}
</script>

<style>
    
</style>
