<template>
    <div id="app">
        <button ref="mojPrzycisk">Przycisk</button>
    </div>
</template>

<script>
export default {
  data: function() {
      return {
          
      }
  },
  mounted() {
      console.log(this.$refs.mojPrzycisk);
  }  
}
</script>

<style>

</style>
