<template>
    <div id="app">
        <p>Suma liczb {{ zsumuj }}</p>
    </div>
</template>

<script>
export default {
  data: function() {
      return {
          liczby: [1, 2, 3]
      }
  },
  computed: {
      zsumuj() {
          return this.liczby.reduce((sum, val) => sum + val);
      }
  }  
}
</script>

<style>

</style>
