<template>
    <div id="app">
        <input :type="typ" />
    </div>
</template>

<script>
export default {
  data: function() {
      return {
          typ: 'password'
      }
  }  
}
</script>

<style>

</style>
