<template>
    <div id="app">
        <p v-if="true">To się wyświetli</p>
        <p v-if="false">To się nie wyświetli</p>

        <p v-show="true">To się wyświetli</p>
        <p v-show="false">To się nie wyświetli</p>
    </div>
</template>

<script>
export default {
  data: function() {
      return {
          
      }
  }  
}
</script>

<style>

</style>
