<template>
    <div id="app">
        <div v-html="kod"></div>
    </div>
</template>

<script>
export default {
  data: function() {
      return {
          kod: '<h1>Nagłówek pierwszego stopnia</h1>'
      }
  }  
}
</script>

<style>

</style>
