<template>
    <div id="app">
        <p v-if="rano">Cześć jest rano!</p>
        <p v-if="popoludnie">Cześć jest popołudnie</p>
        <p v-if="wieczor">Cześć jest wieczór!</p>
    </div>
</template>

<script>

var godzina = new Date().getHours();

export default {
  data: function() {
      return {
          rano: godzina < 12,
          popoludnie: godzina >= 12 && godzina < 18,
          wieczor: godzina >= 18
      }
  }  
}
</script>

<style>

</style>
