<template>
    <div id="app">
        <div v-if="stan === 1">Stan 1</div>
        <div v-else-if="stan === 2">Stan 2</div>
        <div v-else>Inny stan</div>
    </div>
</template>

<script>
export default {
  data: function() {
      return {
          stan: 5
      }
  }  
}
</script>

<style>

</style>
