<template>
    <div id="app">
        <ul>
            <li v-for="(klub, miasto) in kluby" :key="miasto">W mieście {{ miasto }} jest klub {{ klub }}</li>
        </ul>
    </div>
</template>

<script>
export default {
  data: function() {
      return {
          kluby: {
              londyn: 'Arsenal',
              barcelona: 'FC',
              turyn: 'Juventus'
          }
      }
  }  
}
</script>

<style>

</style>
