<template>
    <div id="app">
        <p v-if="godzina > 12">Cześć jest rano!</p>
        <p v-if="godzina >= 12 && godzina < 18">Cześć jest popołudnie</p>
        <p v-if="godzina >= 18">Cześć jest wieczór!</p>
    </div>
</template>

<script>
export default {
  data: function() {
      return {
          godzina: new Date().getHours()
      }
  }  
}
</script>

<style>

</style>
