<template>
    <div id="app">
        <button v-on:click="zwieksz">Wciśnij mnie</button>
        <p>Przycisk został wciśnięty {{ ile }} razy!</p>
    </div>
</template>

<script>
export default {
  data: function() {
      return {
          ile: 0
      }
  },
  methods: {
      zwieksz() {
          this.ile++;
      }
  }  
}
</script>

<style>

</style>
