<template>
    <div id="app">
        <p>Koszt produktu: {{ cenaProduktu | formatWaluty('$') }}</p>
    </div>
</template>

<script>
export default {
  data: function() {
      return {
          cenaProduktu: 199
      }
  },
  filters: {
      formatWaluty(value, symbol) {
          return symbol + (value / 100).toFixed(2);
      }
  }  
}
</script>

<style>

</style>
