<template>
    <div id="app">
        <p v-if="godzina < 12">Cześć {{ imie }}, co za piękny poranek.</p>
        <p v-else>Czesć {{ imie }}, piękne popołudnie, prawda?</p>
    </div>
</template>

<script>
export default {
  data: function() {
      return {
          imie: 'Tomasz',
          godzina: new Date().getHours()
      }
  }  
}
</script>

<style>

</style>
