<template>
    <div id="app">
        <p>Pierwsze auto to: {{ samochody[0] }}</p>
        <p>Wszystkie samochody: {{ samochody }}</p>
    </div>
</template>

<script>
export default {
  data: function() {
      return {
          samochody: ['BMW', 'Audi', 'Mercedes']
      }
  }  
}
</script>

<style>

</style>
