<template>
    <div id="app">
        <p>{{ powiedzCzesc() }}</p>
    </div>
</template>

<script>
export default {
  data: function() {
      return {
          imie: 'Michał'
      }
  },
  methods: {
      powiedzCzesc() {
          return 'Witaj ' + this.imie;
      }
  }  
}
</script>

<style>

</style>
