<template>
    <div id="app">
        <p>{{ sekundy }} sekund znajdujesz się na tej stronie.</p>
    </div>
</template>

<script>
export default {
  data: function() {
      return {
          sekundy: 0
      }
  },
  created() {
      setInterval(() => {
          this.sekundy++;
      }, 1000);
  }  
}
</script>

<style>

</style>
