<template>
    <div id="app">
        <input type="text" v-model="tekst" />
        <p>Wprowadzony tekst: {{ tekst }}</p>
    </div>
</template>

<script>
export default {
  data: function() {
      return {
          tekst: 'jakiś tekst'
      }
  }  
}
</script>

<style>

</style>
