<template>
    <div id="app">
        
    </div>
</template>

<script>
export default {
  data: function() {
      return {
          liczba: 5
      }
  },
  watchers: {
      liczba() {
          // kod który ma być wykonywany w przypadku zmiany liczby np.
          console.log('Zmienna liczba zmieniła swoją wartość');
      }
  }  
}
</script>

<style>

</style>
