<template>
    <div id="app">
        <p v-zmieniacz="500">Ten tekst zmienia kolor WOW !</p>
    </div>
</template>

<script>
export default {
  data: function() {
      return {
          
      }
  },
  directives: {
      zmieniacz: {
          bind(el, time) {
              let redColor = true;
              setInterval(() => {
                  redColor = !redColor;
                  el.style.color = redColor ? 'red' : 'blue';
              }, this.value || 1000);
          },
      }
  }  
}
</script>

<style>

</style>
